/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
  min-height: 60px;
}

a.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre ícone e texto */
  color: white;
  text-decoration: none;
}


a {
  color: #744D2B;
}

.btn-primary {
  color: #fff;
  background-color: #744D2B;
  border-color: #4F2E10;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #744D2B;
  border-color: #4F2E10;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.icone-container {
    background-color: #B58658;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Faz com que a div ocupe toda a altura disponível do pai */
    padding: 8px;
    border-radius: 6px;
}


