<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Galpão EletroLar</title>
    <script type="importmap"></script>
    <link rel="icon" type="image/png" href="/galpao_eletrolar_icon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GalpaoEletroLar.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/productList.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    

</head>
<body style="background-color: #F0D3AE">
<header>
    <nav class="navbar" style="background-color: #744D2B;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand d-flex align-items-center text-white h3" href="#">
                <img src="/galpao_eletrolar_icon.png" alt="Ícone" width="30" height="30" class="me-2" />
                Galpão EletroLar
            </a>
            <ul class="nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold" style="font-size: 20px;"  href="#">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold" style="font-size: 20px;" href="#">Produtos Vendidos</a>
                </li>
            </ul>
            <div style="width: 140px;"></div>

        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Galpão EletroLar - <a asp-area="" asp-controller="Catalogo" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>