@model GalpaoEletroLar.Models.CadastroProduto

<div class="modal fade" id="modalConfirmaCadastro" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: #5C3B1E;">Confirmar Cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color: #1b6ec2;">Tem certeza que deseja cadastrar este produto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #744D2B; color: #FFE1BA;">Cancelar</button>
                    <button type="button" class="btn btn-danger" style="background-color: #1b6ec2; color: white;">Confirmar Cadastro</button>
                </div>
            </div>
        </div>
     </div>   
</div>