:root {
  --cor-primaria: #FFE1BA;
  --cor-botao: #744D2B;
  --hover-botao: #5e3c21;
 
  --input-disabled: #FFC07A;
  --cor-input: #FFE1BA;
  --borda-input: #744D2B;
  --cor-label: #643811;
  
  --cor-modal: #FAE5CA;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.modal-content {
  background: var(--cor-modal) !important;
  border-radius: 14px !important;
}

.modal-content .submit-button {
  background: var(--cor-botao) !important;
  border: none !important;
  border-radius: 10px;
  max-width: 310px;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
}

.action-button {
  background: var(--cor-botao) !important;
}

.action-button:hover {
  background: var(--hover-botao) !important;
}

.modal-body input, .modal-body select, .modal-body input:Disabled, .modal-body select:Disabled {
  background: var(--cor-input);
  border: 3px solid var(--borda-input);
  border-radius: 10px;
}

.modal-body input:Disabled, .modal-body select:Disabled {
  background: var(--input-disabled) !important;
  cursor: not-allowed;
}

.modal-body input:focus, .modal-body select:focus {
  background: var(--cor-input) !important;
  border-color: var(--borda-input) !important;
  box-shadow: none !important; 
  color: inherit;
}


.modal-body label, .modal-title {
  color: var(--cor-label);
  font-size: 18px;
  font-weight: 600;
}

.modal-title {
  font-size: 24px !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.red-warning {
  border-radius: 15px;
  background: red;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
}